build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Debug/main.o
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Debug/Makefile
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Debug/qrc_qml.cpp
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Debug/qrc_qml.o
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Debug/untitled
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Release/main.o
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Release/Makefile
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Release/qrc_qml.cpp
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Release/qrc_qml.o
build-untitled-Desktop_Qt_5_7_0_GCC_64bit-Release/untitled
